DB_USER=postgres
DB_PASSWORD=senhasenha
DB_HOST=nutriDash_db
DB_PORT=5432
DB_NAME=nutri_dash_db

DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

CELERY_BROKER_URL=redis://redis:6379/0

OPENAI_API_KEY=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 