name: CI

# Define quando o GitHub deve rodar este processo
on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  lint-and-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13" 

      - name: Instalar dependências
        run: | 
            pip install ruff pytest
            pip install -r requirements.txt

      - name: Verificar formatação (Ruff Format)
        run: ruff format --check .

      - name: Verificar erros de lint (Ruff Check)
        run: ruff check .
      
      - name: Run tests
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        run: pytest